.flex-container {

 border: 2ch;

}

.flex-container div {

  padding-top: 6px;

}

.typeCasrs{

    padding-top: 1px !important;
}

.btntype{
      padding-top: 12px !important;
  
}
.invalid-text {
  font-size: 0.75rem;
  color: #fe6168;
}