.tempImagen {
  width: 45%;
  max-height: 70%;
}



.buttonCloseMain {
  font-size: x-large;
  position: relative;
  padding: 12px;
}

.buttonClose {
  font-size: x-large;
  position: absolute;
  top: 0%;
  left: 60%;
  color: red;
  padding: 12px;
}

.border{
padding: 12px;
align-items: center;
text-align: center;

}